[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body {
	background-color: #fff;
}

.container {
	width: 400px;
	margin: 0 auto;

	button {
		@include button($button-tny, $primary-color, 10px, true);
	}
}

.dimmed {
	opacity: 0.3;
}

.fill-in-info, .player-list, .chat-box {
	border: 1px solid #ccc;
	padding: 15px;
	margin-botton: 10px;
}

.player-list {
	.player {
		margin-bottom:5px;
		@include clearfix;
		img {
			float: left;
			margin-right: 10px;
			width:30px;
			height: auto;
		}
		.name {
			float:left;
		}
		.score {
			float:right;
			font-weight:bold;
		}
		.challenge {
			float:right;
			width: 100px;
		}
	}
	.active {
		background-color: #eee;
	}
	.status {
		@include label();
	}
}

.challenge-window {
	position: fixed;
	top: 0;
	width:400px;
	border:2px solid #000;
	background-color:#fff;
	padding:30px;
	z-index:1000;
	.opponent {
		margin-bottom:10px;
	}
	.decline {
		background-color:#ccc;
	}
}

.chat-box {
	margin-bottom:30px;
	.scrollable {
		overflow-y:scroll;
		height:100px;
	}
}
