<div>
	<div id="game">

	</div>
	<div>
		<button ng-click="vm.quitGame()">Quit game</button>
	</div>
	<div>
		<div class="player-list">
			<div class="player" ng-repeat="player in vm.players" ng-class="{ active: player.id === vm.player.id }">
				<img ng-src="https://www.gravatar.com/avatar/{{ vm.md5.hash(player.email) }}" />
				<div class="name">{{ player.name }}</div>
				<!-- <div class="status" ng-show=" ! player.canChallenge">{{ player.inGame ? 'currently playing' : 'challenging another player' }}</div>
				<button class="challenge" ng-show="player.id !== vm.player.id" ng-disabled=" ! player.canChallenge || player.inGame" ng-click="vm.challenge(player.id)">challenge</button>
 -->			</div>
		</div>
		<h3>Player chat</h3>
		<div class="chat-box">
			<div class="scrollable">
				<div ng-repeat="message in vm.chat.messages track by $index">
					{{ message }}
				</div>
			</div>
			<input type="text" ng-model="vm.chatMessage" />
			<button ng-click="vm.sendMessage()">send</button>
		</div>
	</div>
</div>
